#ball {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 100%;
  border: 5px solid black;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    margin-left: 0px;
    margin-top: 0px;
  }

  to {
    margin-left: 500px;
    margin-top: 500px;
  }
}
